@model BlackYellow.MVC.Domain.Entites.Cart


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Finalizar Compra</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">


            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        @if (Model != null)
                        {
                            <form method="post">

                                <div class="clear"></div>
                                <h3 id="order_review_heading">Sua compra</h3>
                                <div id="order_review" style="position: relative;">




                                    <table class="shop_table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Produto</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Itens)
                                            {
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                        @item.Product.Name <strong class="product-quantity">× @item.Quantity</strong>
                                                    </td>
                                                    <td class="product-total">
                                                        <span class="amount">@item.SubTotal.ToString("C2")</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Total do Carrinho</th>
                                                <td>
                                                    <span class="amount">@Model.TotalOrder.ToString("C2")</span>
                                                </td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Envio</th>
                                                <td>
                                                    Frete Grátis
                                                </td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Total do Pedido</th>
                                                <td><strong><span class="amount">@Model.TotalOrder.ToString("C2")</span></strong> </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                <div id="payment">
                                    <ul class="payment_methods methods">
                                        @foreach (var item in Enum.GetValues(typeof(BlackYellow.MVC.Domain.Entites.Order.EPaymentMethod)).OfType<BlackYellow.MVC.Domain.Entites.Order.EPaymentMethod>())
                                        {
                                        <li class="payment_method_bacs">
                                            <input type="radio" data-order_button_text="Boleto" checked="checked" value="@((int)item)" name="PaymentMethod" class="input-radio" id="payment_method_boleto">
                                            <label for="payment_method_bacs">@BlackYellow.MVC.Helpers.Extensions.EnumExtensions.GetEnumDescription(item)</label>
                                        </li>
                                        }
                                    </ul>
                                    <div class="form-row place-order">
                                        <input type="submit" data-value="Finalizar Compra" value="Finalizar Compra" id="finalizar_comprar" class="button alt">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>


                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
