@model BlackYellow.MVC.Domain.Entites.Product

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Detalhes do Produto</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">@Model.Category.Name</a>
                        <a href="">@Model.Name</a>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="~/@Model.GaleryProduct[0].PathImage" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="~/@Model.GaleryProduct[1].PathImage" alt="">
                                    <img src="~/@Model.GaleryProduct[2].PathImage" alt="">
                                    <img src="~/@Model.GaleryProduct[3].PathImage" alt="">
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.Name</h2>
                                <div class="product-inner-price">
                                    <ins>@Model.Price</ins>

                                </div>

                                <form action="" class="cart">
                                    @*<div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>*@
                                    <button class="add_to_cart_button" onclick="buy(@Model.ProductId)" type="button">Comprar</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Category: <a href="">@Model.Category.Name</a> </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Descrição</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Descrição do Produto</h2>
                                            <p>@Model.Description</p>
                                           
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>