@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var filters = ViewBag.Filters as BlackYellow.MVC.Models.OrderReportFilters;
}
@model IEnumerable<BlackYellow.MVC.Domain.Entites.Order>

<h2>Relatório de Vendas</h2>



<div class="panel panel-default">
    <div class="panel-heading">


        @using (Html.BeginForm(FormMethod.Post))
            {


            <div class="clearfix">

                <div class="pull-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-inline" style="margin-top: 20px;">

                                <div class="form-group float-label-control col-lg-6 col-sm-6 col-md-3">
                                    <input id="dataInicial" placeholder="Data Inicial" name="InitDate" type="date" value="@(filters?.InitDate?.ToString("d"))" />
                                    <label for="dataInicial">Data Inicial</label>
                                </div>

                                <div class="form-group float-label-control col-lg-6 col-sm-6 col-md-3">
                                    <input id="dataFinal" placeholder="Data Final" name="EndDate" type="date" value="@(filters?.EndDate?.ToString("d"))" />
                                    <label for="dataFinal">Data Final</label>
                                </div>

                                <ul hidden class="col-lg-6 col-sm-12 col-md-6" style="list-style-type: none;column-count:2;margin:0">
                                    @foreach (var item in Enum.GetValues(typeof(BlackYellow.MVC.Domain.Entites.Order.EStatusOrder)).OfType<BlackYellow.MVC.Domain.Entites.Order.EStatusOrder>())
                                    {
                                    <li>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Status" value="@item" checked="@(filters?.Status?.Contains(item))" />
                                            @BlackYellow.MVC.Helpers.Extensions.EnumExtensions.GetEnumDescription(item)
                                        </label>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">

                    <button type="submit" class="btn btn-lg btn-success">
                        <i class="fa fa-search"></i> Buscar
                    </button>

                </div>

            </div>

        }




    </div>
    <div class="panel-body">
        <table class="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Valor Total</th>
                    <th>Qtd. Itens</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Any() ?? false)
                {
                    foreach (var order in Model)
                    {

                    <tr>

                        <td>@order.TicketNumber@order.OrderId</td>
                        <td>@BlackYellow.MVC.Helpers.Extensions.EnumExtensions.GetEnumDescription(order.OrderStatus)</td>
                        <td>@order.OrderDate.ToString("d")</td>
                        <td>@order.Customer.FullName <small>@(order.Customer.Address.Street), @(order.Customer.Address.City)/@(order.Customer.Address.State)</small></td>
                        <td>@order.TotalOrder.ToString("N2")</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="itemddm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    @order.Itens.Count
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="itemddm">
                                    @foreach (var item in order.Itens)
                                    {
                                    <li>
                                        <i class="glyphicon glyphicon-chevron-right"></i><span>@item.Product.Name</span>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </td>

                    </tr>


                    }
                }
            </tbody>
        </table>
    </div>
</div>
