@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var filters = ViewBag.Filters as BlackYellow.MVC.Models.ProductReportFilters;
}
@model IEnumerable<BlackYellow.MVC.Domain.Entites.Product>

<h2>Relatório de Vendas</h2>



<div class="panel panel-default">
    <div class="panel-heading">


        @using (Html.BeginForm(FormMethod.Post))
            {


            <div class="clearfix">

                <div class="pull-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-inline" style="margin-top: 20px;">

                                @*<div class="form-group float-label-control col-lg-3 col-sm-6 col-md-3">
                                        <input id="dataInicial" placeholder="Data Inicial" name="InitDate" class="form-control datepicker" value="@(filters?.InitDate?.ToString("d"))" />
                                        <label for="dataInicial">Data Inicial</label>
                                    </div>

                                    <div class="form-group float-label-control col-lg-3 col-sm-6 col-md-3">
                                        <input id="dataFinal" placeholder="Data Final" name="EndDate" class="form-control datepicker" value="@(filters?.EndDate?.ToString("d"))" />
                                        <label for="dataFinal">Data Final</label>
                                    </div>*@

                                @*   <div class="form-group col-lg-3 col-sm-12 col-md-3">*@
                                <div class="form-group">
                                    <select id="categoryId" name="CategoryId">
                                        <option></option>
                                        @foreach (var item in BlackYellow.MVC.Models.ProductReportFilters.Categories)
                                        {
                                        <option value="@item.CategoryId" selected="@((filters?.CategoryId?.Equals(item.CategoryId) ?? false) ? "true" : "false")">
                                            <text>#@item.CategoryId - @item.Name - @item.Description</text>
                                        </option>
                                        }
                                    </select>
                                    <label for="categoryId">Categoria</label>
                                </div>
                                @*</div>*@

                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">

                    <button type="submit" class="btn btn-lg btn-success">
                        <i class="fa fa-search"></i> Buscar
                    </button>

                </div>

            </div>

        }




    </div>
    <div class="panel-body">
        <table class="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Preço Atual</th>
                    @*<th>Preço Médio</th>
                    <th>Unidades Vendidas</th>*@
                    <th>Qtd. Vendas</th>
                    <th>Estoque</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Any() ?? false)
                {
                    foreach (var product in Model)
                    {

                    <tr>

                        <td>@product.ProductId</td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price.ToString("N2")</td>
                        @*<td>@(product.SoldItens.Sum(o => o.SubTotal) / product.SoldItens.Count)</td>
                        <td>@product.SoldItens.Sum(o => o.Quantity)</td>*@
                        <td>@product.SoldItens.Count</td>
                        <td>@product.Quantity</td>

                    </tr>


                    }
                }
            </tbody>
        </table>
    </div>
</div>
